<button type="button" 
        class="btn btn-secondary" 
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="<%= I18n.t(:instructions, scope: 'how_it_works.button') %>">
  <%= I18n.t(:title, scope: 'how_it_works.button') %>
</button>