<section class="col p-3">
  <%= render partial: 'header' %>
  <%= render partial: 'form' %>
</section>

<% content_for :adsence do %>
  <%= render partial: 'shared/mocked_ads' %>
<% end %>

<div id="disqus_thread"></div>