<% content_for :left_bar do %>
  <%= render partial: 'shared/mocked_ads' %>
<% end %>

<section class="col p-3">
  <%= render partial: 'header' %>
  <%= render partial: 'form' %>
</section>

<% content_for :right_bar do %>
  <%= render partial: 'shared/mocked_ads' %>
<% end %>